[Unit]
Description=Remove Action Runner at system shutdown
After=network.target multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/usr/bin/python3 /home/ubuntu/actions-runner/runner.py remove

[Install]
WantedBy=network.target multi-user.target
